## Doing target encoding

In [2]:
import pandas as pd
import numpy as np

In [3]:
seed = 321

np.random.seed(seed)

In [4]:
target = list(np.random.randint(0,2,20))

In [5]:
genre = ["Sci Fi", "Drama", "Romance", "Fantasy", "Nonfiction"]

In [6]:
genres = [genre[i] for i in np.random.randint(0,len(genre),20)]

In [8]:
df = pd.DataFrame({"genre":genres,"target":target})
df

         genre  target
0      Fantasy       0
1      Romance       0
2      Romance       0
3      Romance       1
4      Fantasy       1
5        Drama       0
6      Romance       1
7   Nonfiction       0
8        Drama       0
9      Fantasy       0
10     Romance       0
11     Romance       1
12       Drama       0
13       Drama       1
14      Sci Fi       1
15  Nonfiction       1
16     Fantasy       1
17     Fantasy       1
18  Nonfiction       0
19     Romance       0

In [13]:
from category_encoders import TargetEncoder

encoder = TargetEncoder()

In [14]:
df["genre_encoded_sklearn"] = encoder.fit_transform(df['genre'],df['target'])

In [15]:
df

         genre  target  genre_encoded_sklearn
0      Fantasy       0               0.477364
1      Romance       0               0.445411
2      Romance       0               0.445411
3      Romance       1               0.445411
4      Fantasy       1               0.477364
5        Drama       0               0.416404
6      Romance       1               0.445411
7   Nonfiction       0               0.431979
8        Drama       0               0.416404
9      Fantasy       0               0.477364
10     Romance       0               0.445411
11     Romance       1               0.445411
12       Drama       0               0.416404
13       Drama       1               0.416404
14      Sci Fi       1               0.521560
15  Nonfiction       1               0.431979
16     Fantasy       1               0.477364
17     Fantasy       1               0.477364
18  Nonfiction       0               0.431979
19     Romance       0               0.445411